@import url('https://fonts.googleapis.com/css?family=Abel');

html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    font-family: 'Abel', sans-serif;
}

/* nav */
nav{
    width: 100%;
    height: 60px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px #aaa;
    position: fixed;
    z-index: 1;
    top: 0px;
}

#logo{
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    height: 50px;
    width: 50px;
}

nav ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    padding-top: 1em;
    margin: 0 auto;
    width: 50%;
}

nav ul li{
    display: inline;
    font-size: 1.5em;
    padding-left: 30px;
    padding-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #555;
    transition: opacity 0.2s cubic-bezier(0,0, 0.5, 1), border-bottom 0.3s ease-in-out;
}

nav ul li a:hover{
    border-bottom: 1px solid #555;
    color: #222;
    filter: alpha(opacity=60);
}

nav ul li a.selected{
    border-bottom: 1px solid #555;
    color: #000;
    filter: alpha(opacity=40);
}

nav #shortcutLinkedIn,
nav #shortcutGithub{
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-right: 10px;
    float: right;
}

.fake-links{
    cursor: pointer;
}

#content{
    margin-top: 60px;
    padding-top: 30px;
}

#content #aboutMe{
    background-image: url("/assets/images/appContentWallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clear: both;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#content #aboutMe .leftAboutMe,
#content #aboutMe .rightAboutMe{
    width: 40%;
}

#content #aboutMe .leftAboutMe{
    text-align: center;
}

#content .projects{
    float: left;
    width: 25%;
    text-align: center;
    margin: 0 auto;
}

#content .projects img{
    width: 200px;
    height: 200px;
}

#content #contacts{
    background-image: url("/assets/images/appContentWallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clear: both;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#content #contacts #LinkedIn,
#content #contacts #Github{
    width: 60px;
    height: 60px;
}

/* footer */
footer{
    clear: both;
    background-color: #eee;
    border-top: 1px solid #ccc;
    box-shadow: 0px -1px 0px #aaa;
}
  
footer p{
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #555;
}