#dropdown{
    display: none;
}

@media screen and (max-width: 480px){
    #logo{
        margin-left: 0px;
    }

    #dropdown{
        cursor: pointer;
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-top: 5px;
        margin-left: 5px;
    }

    #dropdown:active{
        content: url("../images/dropdownHover.png");
    }

    #navbarList{
        position: fixed;
        top: -500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #navbarList li{
        background-color: #eee;
        border-bottom: 1px solid #555;
        display: block;
        padding: 15px 0;
        margin: 0;
    }

    #content{
        padding-top: 60px;
    }

    #content #aboutMe{
        background-image: none;
        display: block;
    }

    #content #aboutMe .leftAboutMe,
    #content #aboutMe .rightAboutMe{
        width: 100%;
    }

    #content #aboutMe .rightAboutMe p{
        margin: 10%;
    }

    #content .projects{
        float: none;
        width: 100%;
    }

    #content #contacts{
        background-image: none;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
} 