<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Matthew Fong - Game Designer/Developer</title>

        <link href="assets/images/favicon.png" rel="shortcut icon" />
        <link href="assets/css/projects.css" rel="stylesheet" type="text/css" />
        <link
            href="assets/css/mobileProjects.css"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="assets/css/mobileNav.css"
            rel="stylesheet"
            type="text/css"
        />
        <link href="assets/css/nav.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/footer.css" rel="stylesheet" type="text/css" />

        <script
            crossorigin
            src="https://unpkg.com/react@16.7.0/umd/react.production.min.js"
        ></script>
        <script
            crossorigin
            src="https://unpkg.com/react-dom@16.7.0/umd/react-dom.production.min.js"
        ></script>
        <script
            crossorigin
            src="https://unpkg.com/prop-types@15.6/prop-types.min.js"
        ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/2.0.1/remarkable.min.js"
            integrity="sha512-skYYbQHAuOTpeJTthhUH3flZohep8blA+qjZOY0VqmfXMDiYcWxu29F5UbxU4LxaIpGkRBk+3Qf8qaXfd9jngg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
    </head>
    <body>
        <nav id="nav">
            <div id="navbarLinks">
                <img
                    id="dropdown"
                    src="assets/images/dropdown.png"
                    alt="dropdown icon"
                />
                <a href="/" class="navLinks"
                    ><img
                        id="logo"
                        src="assets/images/face_gray.png"
                        alt="face logo"
                /></a>
            </div>

            <ul id="navbarList">
                <li>
                    <a id="aboutMeAnchor" href="/#aboutMe" class="navLinks"
                        >About Me</a
                    >
                </li>
                <li>
                    <a
                        id="projectsAnchor"
                        href="/#projects"
                        class="selected navLinks"
                        >Projects</a
                    >
                </li>
                <li>
                    <a id="contactsAnchor" href="/#contacts" class="navLinks"
                        >Contacts</a
                    >
                </li>
                <li><a href="/resume" class="navLinks">Resume</a></li>
            </ul>

            <div id="shortcutLinks">
                <a href="https://www.linkedin.com/in/matthewfong3/"
                    ><img
                        id="shortcutLinkedIn"
                        src="assets/images/linkedin_gray.png"
                        alt="LinkedIn link"
                /></a>
                <a href="https://github.com/matthewfong3"
                    ><img
                        id="shortcutGithub"
                        src="assets/images/github_gray.png"
                        alt="Github link"
                /></a>
            </div>
        </nav>

        <div id="projectContent">
            <div class="reactComponent">
                <div id="slider-container">
                    <div class="slides fade">
                        <img
                            src="/assets/images/adventuretime1.png"
                            alt="Adventure Time 1"
                        />
                    </div>
                    <div class="slides fade">
                        <img
                            id="img"
                            src="/assets/images/adventuretime2.png"
                            alt="Adventure Time 2"
                        />
                    </div>
                    <div class="slides fade">
                        <img
                            id="img"
                            src="/assets/images/adventuretime3.png"
                            alt="Adventure Time 3"
                        />
                    </div>
                    <div class="slides fade">
                        <img
                            id="img"
                            src="/assets/images/adventuretime4.png"
                            alt="Adventure Time 4"
                        />
                    </div>

                    <a class="prev">&#10094;</a>
                    <a class="next">&#10095;</a>
                </div>

                <div id="dotsDiv">
                    <span class="dots" data-i="0"></span>
                    <span class="dots" data-i="1"></span>
                    <span class="dots" data-i="2"></span>
                    <span class="dots" data-i="3"></span>
                </div>

                <h3>Adventure Time</h3>

                <div class="description">
                    <section class="left">
                        <h4>Overview</h4>
                        <p>
                            Adventure Time is a simple 2D side scrolling retro
                            platform game. The player must traverse through the
                            level while fighting various different types of
                            enemies and avoiding spike traps. Throughout the
                            level, the player may find and collect gems and
                            health (hearts) to replenish their health after
                            surviving previous encounters with enemies.
                        </p>
                        <h4>Tools used</h4>
                        <p class="p">Unreal Engine 5, Paper2D, Blueprints</p>
                        <h4>Role</h4>
                        <p class="p">
                            - Programmed player controls, such as movement,
                            jumping, attacking <br />
                            - Programmed various enemy AI logic using AI
                            Controller, such as edge detection, enemy detection,
                            simple autonomous behavior (seeking when the player
                            is in range or free roaming) <br />
                            - Implemented player health system, syncing update
                            logic with widget blueprints to display current
                            health or game over (death) screen <br />
                        </p>
                    </section>

                    <section class="right">
                        <h4>Role (Cont.)</h4>
                        <p>
                            - Developed the game states and transition logic
                            between the different game states <br />
                            - Designed the layout and flow of the level
                        </p>
                        <h4>Platform</h4>
                        <p class="p">Windows</p>
                        <h4>Duration</h4>
                        <p class="p">Less than 4 weeks</p>
                        <h4>Team size</h4>
                        <p class="p">1</p>
                        <p>
                            <b>
                                <span>Play the Game! </span>
                                <a
                                    href="https://unshaide.itch.io/adventure-time"
                                >
                                    Adventure Time!
                                </a>
                            </b>
                        </p>
                    </section>
                </div>
            </div>
        </div>

        <footer id="footer">
            <p>
                © Matthew Fong <br />
                All Rights Reserved
            </p>
        </footer>

        <script src="assets/projectsBundle.js"></script>
    </body>
</html>
