<!-- Future Reference: In photoshop, elliptical marquee tool size 26.00 x 26.00 cm for circular icons -->
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Matthew Fong - Game Designer/Developer</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/images/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav id="nav">
    <img id="dropdown" src="/assets/images/dropdown.png" alt="dropdown icon" width="50" height="50"/>
    <a href="#about">
      <img id="logo" src="/assets/images/faceGray.png" alt="face logo" width="50" height="50"/>
    </a>
    <div id="shortcutLinks">
      <a href="https://twitter.com/dropstepGD"><img id="shortcutTwitter" src="/assets/images/twitterGray.png" alt="Twitter Link" width="50" height="50"/></a>
      <a href="https://www.linkedin.com/in/matthewfong3/"><img id="shortcutLinkedIn" src="/assets/images/linkedinGray.png" alt="LinkedIn Link" width="50" height="50"/></a>
      <a href="https://www.facebook.com/dropstepcs"><img id="shortcutFB" src="/assets/images/facebookGray.png" alt="Facebook Link" width="50" height="50"/></a>
    </div>
    <ul>
      <li><a id="aboutAnchor" href="#about" class="selected">About</a></li>
      <li><a id="projectsAnchor" href="#projects">Projects</a></li>
      <li><a id="contactsAnchor" href="#contacts">Contacts</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="https://people.rit.edu/mxf9125/230/portfolio/index.html">Old Portfolio</a></li>
    </ul>
  </nav>
  <div id="responsiveMenu">
    <ul>
      <li><a id="aboutAnchor" href="#about" class="selected">About</a></li>
      <li><a id="projectsAnchor" href="#projects">Projects</a></li>
      <li><a id="contactsAnchor" href="#contacts">Contacts</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="https://people.rit.edu/mxf9125/230/portfolio/index.html">Old Portfolio</a></li>
    </ul>
  </div>
  
  <div id="content">
    <section id="about">
      <section class="left" id="leftAbout">
        <h3>Matthew Fong <br> Game Designer/Developer</h3>
      </section>
      <section class="right" id="rightAbout">
        <p>
        I am currently a fourth year student at Rochester Institute of Technology (RIT), NY, pursuing a Bachelor of Science (BS) degree in game design and development, with a completed Immersion (half minor) in Music. Rather than game design and development, as my program covers a wide range of concepts, a better way of describing my major could be designing and programming rich interactive experiences.
        <br>
        I have worked with various software programs, such as Visual Studios, Processing, Autodesk Maya, Unity, and Brackets. 
        <br>
        I have also worked with various software languages such as C#, C++, HTML5, CSS3, JavaScript, NodeJS, React, Redis, MongoDB.
        <br>
        I am working towards becoming a web developer, open to either front-end or back-end development but also open to game development positions.
        </p>
      </section>
    </section>
    <section id="projects">
      <section class="left" id="leftProjects">
        <h3>Game Design/Development Projects</h3>
        <div class="gameProjects">
          <span class="fake-links" data-url="/BunkRGame">
            <img src="/assets/images/bunkRGray.png" alt="bunkR: The Game" width="100" height="100" data-file="bunkR"/>
            <p>BunkR: The Game</p>
          </span>
        </div>
        <div class="gameProjects">
          <span class="fake-links" data-url="/MarioKart">
            <img src="/assets/images/marioGray.png" alt="Mario Kart Simulation" width="100" height="100" data-file="mario"/>
            <p>Mario Kart Simulation</p>
          </span>
        </div>
        <div class="gameProjects">
          <span class="fake-links" data-url="/interface">
            <img src="/assets/images/interfaceGray.png" alt="UI prototype" width="100" height="100" data-file="interface"/>
            <p>Fairly OddParents: UI prototype</p>
          </span>
        </div>
        <div class="gameProjects">
          <span class="fake-links" data-url="/3Dmodels">
            <img src="/assets/images/uspGray.png" alt="3D models" width="100" height="100" data-file="usp"/>
            <p>3D models</p>
          </span>
        </div>
        <div class="gameProjects">
          <span class="fake-links" data-url="/bombsAway">
            <img src="/assets/images/bombsGray.png" alt="Bombs Away Prototype" width="100" height="100" data-file="bombs"/>
            <p>Bombs Away Prototype</p>
          </span>
        </div>
        <div class="gameProjects">
          <span class="fake-links" data-url="/dynamicDash">
            <img src="/assets/images/dashGray.png" alt="Dynamic Dash Prototype" width="100" height="100" data-file="dash"/>
            <p>Dynamic Dash Prototype</p>
          </span>
        </div>
        <div class="gameProjects">
          <span class="fake-links" data-url="/unfinishedBusiness">
            <img src="/assets/images/unbizGray.png" alt="Unfinished Business" width="100" height="100" data-file="unbiz"/>
            <p>Unfinished Business</p>
          </span>
        </div>
        <div class="gameProjects">
          <span class="fake-links" data-url="/defendSina">
            <img src="/assets/images/sinaGray.png" alt="Defend Sina" width="100" height="100" data-file="sina"/>
            <p>Defend Sina</p>
          </span>
        </div>
        <div class="gameProjects">
          <span class="fake-links" data-url="/golfIt">
            <img src="/assets/images/golfGray.png" alt="Golf It?" width="100" height="100" data-file="golf"/>
            <p>Golf It?</p>
          </span>
        </div>
      </section>
      <section class="right" id="rightProjects">
        <h3>Web Design/Development Projects</h3>
        <div class="webProjects">
          <span class="fake-links" data-url="/tutorialWebsite">
            <img src="/assets/images/websiteGray.png" alt="Ice Cream Bread Recipe" width="100" height="100" data-file="website"/>
            <p>Ice Cream Bread Recipe Website</p>
          </span>
        </div>
        <div class="webProjects">
          <span class="fake-links" data-url="/audViz">
            <img src="/assets/images/audvizGray.png" alt="Audio Visualizer" width="100" height="100" data-file="audviz"/>
            <p>Audio Visualizer</p>
          </span>
        </div>
        <div class="webProjects">
          <span class="fake-links" data-url="/kingOfTheBall">
            <img src="/assets/images/kingGray.png" alt="King of the Ball" width="100" height="100" data-file="king"/>
            <p>King of the Ball</p>
          </span>
        </div>
        <div class="webProjects">
          <span class="fake-links" data-url="/comicsSpot">
            <img src="/assets/images/comicsSpotGray.png" alt="Comics Spot" width="100" height="100" data-file="comicsSpot"/>
            <p>Comics Spot</p>
          </span>
        </div>
        <div class="webProjects">
          <span class="fake-links" data-url="/mazahS">
            <img src="/assets/images/mazahSGray.png" alt="mazahS" width="100" height="100" data-file="mazahS"/>
            <p>mazahS (Reverse Shazam)</p>
          </span>
        </div>
        <div class="webProjects">
          <span class="fake-links" data-url="/tweeter">
            <img src="/assets/images/tweeterGray.png" alt="Tweeter" width="100" height="100" data-file="tweeter"/>
            <p>Tweeter (Twitter Clone)</p>
          </span>
        </div>
        <div class="webProjects">
          <span class="fake-links" data-url="/pictionary">
            <img src="/assets/images/pictionaryGray.png" alt="Pictionary Game" width="100" height="100" data-file="pictionary"/>
            <p>Pictionary Game</p>
          </span>
        </div>
        <div class="webProjects">
          <span class="fake-links" data-url="/arcadeJam">
            <img src="/assets/images/arcadeJamGray.png" alt="Arcade-Jam" width="100" height="100" data-file="arcadeJam"/>
            <p>Arcade-Jam</p>
          </span>
        </div>
        <div class="webProjects">
          <span class="fake-links" data-url="/DEO">
            <img src="/assets/images/deoGray.png" alt="Dungeon Explorers Prototype" width="100" height="100" data-file="deo"/>
            <p>Dungeon Explorers Prototype</p>
          </span>
        </div>
        <div class="webProjects">
          <span class="fake-links" data-url="/portfolios">
            <img src="/assets/images/portfolGray.png" alt="Portfolio Websites" width="100" height="100" data-file="portfol"/>
            <p>Portfolio Websites</p>
          </span>
        </div>
      </section>
    </section>
    
    <section id="contacts">
      <section class="left" id="leftContacts">
        <h3>Contacts</h3>
        <p>Phone: 347-551-0888 <br> Email: mxf9125 AT rit.edu</p>
      </section>
      <section class="right" id="rightContacts">
        <h3>Stalk Me</h3>
        <div id="links">
          <a href="https://twitter.com/dropstepGD"><img id="twitter" src="/assets/images/twitter.png" alt="Twitter Link" width="60" height="60" /></a>
          <a href="https://www.linkedin.com/in/matthewfong3/"><img id="linkedIn" src="/assets/images/linkedin.png" alt="LinkedIn Link" width="60" height="60" /></a>
          <a href="https://www.facebook.com/dropstepcs"><img id="fb" src="/assets/images/facebook.png" alt="Facebook Link" width="60" height="60" /></a>
        </div>
      </section>
    </section>
  </div>
  
  <footer id="footer">
    <p>© Matthew Fong <br> All Rights Reserved</p>
  </footer>
  <script src="/assets/appBundle.js"></script>
</body>
</html>