<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Matthew Fong - Game Designer/Developer</title>

        <link href="assets/images/favicon.png" rel="shortcut icon" />
        <link href="assets/css/projects.css" rel="stylesheet" type="text/css" />
        <link
            href="assets/css/mobileProjects.css"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="assets/css/mobileNav.css"
            rel="stylesheet"
            type="text/css"
        />
        <link href="assets/css/nav.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/footer.css" rel="stylesheet" type="text/css" />

        <script
            crossorigin
            src="https://unpkg.com/react@16.7.0/umd/react.production.min.js"
        ></script>
        <script
            crossorigin
            src="https://unpkg.com/react-dom@16.7.0/umd/react-dom.production.min.js"
        ></script>
        <script
            crossorigin
            src="https://unpkg.com/prop-types@15.6/prop-types.min.js"
        ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/2.0.1/remarkable.min.js"
            integrity="sha512-skYYbQHAuOTpeJTthhUH3flZohep8blA+qjZOY0VqmfXMDiYcWxu29F5UbxU4LxaIpGkRBk+3Qf8qaXfd9jngg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
    </head>
    <body>
        <nav id="nav">
            <div id="navbarLinks">
                <img
                    id="dropdown"
                    src="assets/images/dropdown.png"
                    alt="dropdown icon"
                />
                <a href="/" class="navLinks"
                    ><img
                        id="logo"
                        src="assets/images/face_gray.png"
                        alt="face logo"
                /></a>
            </div>

            <ul id="navbarList">
                <li>
                    <a id="aboutMeAnchor" href="/#aboutMe" class="navLinks"
                        >About Me</a
                    >
                </li>
                <li>
                    <a
                        id="projectsAnchor"
                        href="/#projects"
                        class="selected navLinks"
                        >Projects</a
                    >
                </li>
                <li>
                    <a id="contactsAnchor" href="/#contacts" class="navLinks"
                        >Contacts</a
                    >
                </li>
                <li><a href="/resume" class="navLinks">Resume</a></li>
            </ul>

            <div id="shortcutLinks">
                <a href="https://www.linkedin.com/in/matthewfong3/"
                    ><img
                        id="shortcutLinkedIn"
                        src="assets/images/linkedin_gray.png"
                        alt="LinkedIn link"
                /></a>
                <a href="https://github.com/matthewfong3"
                    ><img
                        id="shortcutGithub"
                        src="assets/images/github_gray.png"
                        alt="Github link"
                /></a>
            </div>
        </nav>

        <div id="projectContent">
            <div class="reactComponent">
                <div id="slider-container">
                    <div class="slides fade">
                        <video controls>
                            <source
                                src="assets/images/cookie.mp4"
                                type="video/mp4"
                            />
                        </video>
                    </div>
                    <div class="slides fade">
                        <video controls>
                            <source
                                src="assets/images/donuts.mp4"
                                type="video/mp4"
                            />
                        </video>
                    </div>

                    <a class="prev">&#10094;</a>
                    <a class="next">&#10095;</a>
                </div>

                <div id="dotsDiv">
                    <span class="dots" data-i="0"></span>
                    <span class="dots" data-i="1"></span>
                </div>

                <h3>Cookie & Donuts</h3>

                <div class="description">
                    <section class="left">
                        <h4>Overview</h4>
                        <p>
                            After following Blender Guru's Donut Tutorial series
                            on Youtube, I challeneged myself to apply the
                            knowledge and skills I learned to create a cookie in
                            Blender. I modeled and sculpted the shape of the
                            cookie and the chocolate chips seperately. Then by
                            using geometry nodes, I was able to randomize the
                            placement of the chocolate chips onto the cookie. By
                            using some random noise and height maps (normals), I
                            was also able to make the cookie more realistic by
                            adding in detailed cracks and bumps in the cookie
                            dough. Finally, with some texturing, shading,
                            animations, lighting and compositing (post
                            processing), I successfully rendered out a short
                            video displaying my grandiose cookie.
                        </p>
                        <h4>Tools Used</h4>
                        <p class="p">Blender</p>
                        <h4>Role</h4>
                        <p>
                            - 3D modelling <br />
                            - Texturing and Shading <br />
                        </p>
                    </section>

                    <section class="right">
                        <h4>Role (Cont.)</h4>
                        <p class="p">
                            - Compositing (Post processing) <br />
                            - Lighting <br />
                            - Animation <br />- Rendering
                        </p>
                        <h4>Duration</h4>
                        <p class="p">Less than 2 weeks</p>
                        <h4>Team size</h4>
                        <p class="p">1</p>
                    </section>
                </div>
            </div>
        </div>

        <footer id="footer">
            <p>
                © Matthew Fong <br />
                All Rights Reserved
            </p>
        </footer>

        <script src="assets/projectsBundle.js"></script>
    </body>
</html>
