<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Matthew Fong - Game Designer/Developer</title>

        <link href="assets/images/favicon.png" rel="shortcut icon"/>
        <link href="assets/css/index.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/mediaQueriesIndex.css" rel="stylesheet" type="text/css"/>

        <script crossorigin src="https://unpkg.com/react@16.7.0/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16.7.0/umd/react-dom.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/prop-types@15.6/prop-types.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/2.0.1/remarkable.min.js" integrity="sha512-skYYbQHAuOTpeJTthhUH3flZohep8blA+qjZOY0VqmfXMDiYcWxu29F5UbxU4LxaIpGkRBk+3Qf8qaXfd9jngg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <nav id="nav">
            <div id="navbarLinks">
                <img id="dropdown" src="assets/images/dropdown.png" alt="dropdown icon"/>
                <a id="logoAnchor" href="#aboutMe" class="navLinks"><img id="logo" src="assets/images/face_gray.png" alt="face logo"/></a>
            </div>

            <ul id="navbarList">
                <li><a id="aboutMeAnchor" href="#aboutMe" class="selected navLinks">About Me</a></li>
                <li><a id="projectsAnchor" href="#projects" class="navLinks">Projects</a></li>
                <li><a id="contactsAnchor" href="#contacts" class="navLinks">Contacts</a></li>
                <li><a href="/resume" class="navLinks">Resume</a></li>
            </ul>

            <div id="shortcutLinks">
                <a href="https://www.linkedin.com/in/matthewfong3/"><img id="shortcutLinkedIn" src="assets/images/linkedin_gray.png" alt="LinkedIn link"/></a>
                <a href="https://github.com/matthewfong3"><img id="shortcutGithub" src="assets/images/github_gray.png" alt="Github link"/></a>
            </div>
        </nav>

        <div id="content">
            <section id="aboutMe">
                <section id="leftAboutMe" class="leftAboutMe">
                    <h3>Matthew Fong <br/> Game Designer & Developer</h3>
                </section>

                <section id="rightAboutMe" class="rightAboutMe">
                    <p>
                        I graduated Rochester Institute of Technology (RIT), NY, with a <i>Bachelor of Science (BS) degree in game design and development</i>, and a completed immersion (half minor) in music. 
                        Rather than game design and development, as my program covered a wide range of concepts, a better way of describing my skills and practices would be <i>designing and programming rich interactive experiences.</i>
                        These experiences are showcased through my projects, ranging from polished games to high-scale interactive web applications. <br/><br/>
                    
                        I have programmed in various software languages such as <i><b>C++, JavaScript, C#, Swift</b></i>; and am familiar with tools such as <i><b>HTML5, CSS3, ES6, NodeJS, ReactJS, ExpressJS, REST, MVC framework, JQuery, AJAX, JSON, Object-Oriented Programming, MongoDB, Redis, Websockets (socket.io), XML, and Canvas.</b></i><br/>
                        I also have worked with various software programs, including <i><b>Visual Studio, VS Code, Brackets, Autodesk Maya, Unity, Adobe Photoshop, GIMP, Processing, MySQL and Xcode.</b></i><br/><br/>
                        As a developer, I am eager to continue growing, learning new concepts and challenging myself in both software development and web development.
                    </p>
                </section>
            </section>

            <section id="projects">
                <div class="projects">
                    <span class="fake-links" data-url="/tweeter">
                        <img src="/assets/images/tweeter_gray.png" alt="Tweeter" data-file="tweeter"/>
                        <p>Tweeter (Twitter Clone)</p>
                    </span>
                </div>

                <div class="projects">
                    <span class="fake-links" data-url="/arcadeJam">
                        <img src="/assets/images/arcadeJam_gray.png" alt="Arcade-Jam" data-file="arcadeJam"/>
                        <p>Arcade-Jam</p>
                    </span>
                </div>

                <div class="projects">
                    <span class="fake-links" data-url="/kingOfTheBall">
                        <img src="assets/images/kingOfTheBall_gray.png" alt="King of the Ball" data-file="kingOfTheBall"/>
                        <p>King of the Ball</p>
                    </span>
                </div>

                <div class="projects">
                    <span class="fake-links" data-url="/pictionary">
                        <img src="/assets/images/pictionary_gray.png" alt="Draw With Friends!" data-file="pictionary"/>
                        <p>Draw With Friends!</p>
                    </span>
                </div>

                <div class="projects">
                    <span class="fake-links" data-url="/audioviz">
                        <img src="assets/images/audioviz_gray.png" alt="Audio Visualizer" data-file="audioviz"/>
                        <p>Audio Visualizer</p>
                    </span>
                </div>

                <div class="projects">
                    <span class="fake-links" data-url="/portfolio">
                        <img src="/assets/images/portfolio_gray.png" alt="Portfolio Website" data-file="portfolio"/>
                        <p>Portfolio Website</p>
                    </span>
                </div>

                <div class="projects">
                    <span class="fake-links" data-url="/dynamicDash">
                        <img src="/assets/images/dynamicDash_gray.png" alt="Dynamic Dash" data-file="dynamicDash"/>
                        <p>Dynamic Dash Game</p>
                    </span>
                </div>

                <div class="projects">
                    <span class="fake-links" data-url="/BunkR">
                        <img src="/assets/images/bunkR_gray.png" alt="BunkR: The Game" data-file="bunkR"/>
                        <p>BunkR: The Game</p>
                    </span>
                </div>

                <div class="projects">
                    <span class="fake-links" data-url="/cookie">
                        <img src="/assets/images/cookie_gray.png" alt="Cookie" data-file="cookie"/>
                        <p>Cookie</p>
                    </span>
                </div>

                <div class="projects">
                    <span class="fake-links" data-url="/chessEnvironment">
                        <img src="/assets/images/chess_environment_gray.png" alt="Chess Environment" data-file="chess_environment"/>
                        <p>Chess Environment</p>
                    </span>
                </div>

                <div class="projects">
                    <span class="fake-links" data-url="/devilfruit">
                        <img src="/assets/images/devilfruit_gray.png" alt='"One Piece" Devil Fruit' data-file="devilfruit"/>
                        <p>"One Piece" Devil Fruit</p>
                    </span>
                </div>

                <div class="projects">
                    <span class="fake-links" data-url="/3Dmodels">
                        <img src="/assets/images/3Dmodels_gray.png" alt="3D Models" data-file="3Dmodels"/>
                        <p>3D Models</p>
                    </span>
                </div>

                <div class="projects">
                    <span class="fake-links" data-url="/defendSina">
                        <img src="/assets/images/defendSina_gray.png" alt="Defend Sina" data-file="defendSina"/>
                        <p>Defend Sina Game</p>
                    </span>
                </div>

                <div class="projects">
                    <span class="fake-links" data-url="/golfIt">
                        <img src="/assets/images/golfit_gray.png" alt="Golf It?" data-file="golfit"/>
                        <p>Golf It? Game</p>
                    </span>
                </div>
            </section>

            <section id="contacts">
                <section id="leftContacts" class="leftContacts">
                    <h3>Contacts</h3>
                    <p>Phone: 347-551-0888 <br/> Email: matthewfong3 [AT] gmail [DOT] com</p>
                </section>
                
                <section id="rightContacts" class="rightContacts">
                    <h3>Stalk Me</h3>
                    <div id="links">
                        <a href="https://github.com/matthewfong3"><img id="Github" src="/assets/images/github.png" alt="Github link"/></a>
                        <a href="https://www.linkedin.com/in/matthewfong3/"><img id="LinkedIn" src="/assets/images/linkedin.png" alt="LinkedIn Link"/></a>
                    </div>
                </section>
            </section>
        </div>

        <footer id="footer">
            <p>© Matthew Fong <br> All Rights Reserved</p>
        </footer>

        <script src="assets/appBundle.js"></script>
    </body>
</html>