<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Matthew Fong - Game Designer/Developer</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/images/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav id="nav">
    <img id="dropdown" src="/assets/images/dropdown.png" alt="dropdown icon" width="50" height="50"/>
    <a href="/#about"><img id="logo" src="/assets/images/faceGray.png" alt="face logo" width="50" height="50"/></a>
    <div id="shortcutLinks">
      <a href="https://twitter.com/dropstepGD"><img id="shortcutTwitter" src="/assets/images/twitterGray.png" alt="Twitter Link" width="50" height="50"/></a>
      <a href="https://www.linkedin.com/in/matthewfong3/"><img id="shortcutLinkedIn" src="/assets/images/linkedinGray.png" alt="LinkedIn Link" width="50" height="50"/></a>
      <a href="https://www.facebook.com/dropstepcs"><img id="shortcutFB" src="/assets/images/facebookGray.png" alt="Facebook Link" width="50" height="50"/></a>
    </div>
    <ul>
      <li><a id="aboutAnchor" href="/#about" class="selected">About</a></li>
      <li><a id="projectsAnchor" href="/#projects">Projects</a></li>
      <li><a id="contactsAnchor" href="/#contacts">Contacts</a></li>
      <li><a href="/resume">Resume</a></li>
      <!--<li><a href="https://people.rit.edu/mxf9125/230/portfolio/index.html">Old Portfolio</a></li>-->
    </ul>
  </nav>
  <div id="responsiveMenu">
    <ul>
      <li><a id="aboutAnchor" href="/#about" class="selected">About</a></li>
      <li><a id="projectsAnchor" href="/#projects">Projects</a></li>
      <li><a id="contactsAnchor" href="/#contacts">Contacts</a></li>
      <li><a href="/resume">Resume</a></li>
      <!--<li><a href="https://people.rit.edu/mxf9125/230/portfolio/index.html">Old Portfolio</a></li>-->
    </ul>
  </div>
  
  <div id="projectContent"></div>
  
  <footer id="footer">
    <p>© Matthew Fong <br> All Rights Reserved</p>
  </footer>
  <script src="/assets/projectsBundle.js"></script>
</body>
</html>