<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Matthew Fong - Game Designer/Developer</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/images/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav id="nav">
    <img id="dropdown" src="/assets/images/dropdown.png" alt="dropdown icon" width="50" height="50"/>
    <a href="/#about"><img id="logo" src="/assets/images/faceGray.png" alt="face logo" width="50" height="50"/></a>
    <div id="shortcutLinks">
      <a href="https://twitter.com/dropstepGD"><img id="shortcutTwitter" src="/assets/images/twitterGray.png" alt="Twitter Link" width="50" height="50"/></a>
      <a href="https://www.linkedin.com/in/matthewfong3/"><img id="shortcutLinkedIn" src="/assets/images/linkedinGray.png" alt="LinkedIn Link" width="50" height="50"/></a>
      <a href="https://www.facebook.com/dropstepcs"><img id="shortcutFB" src="/assets/images/facebookGray.png" alt="Facebook Link" width="50" height="50"/></a>
    </div>
    <ul>
      <li><a id="aboutAnchor" href="/#about" class="selected">About</a></li>
      <li><a id="projectsAnchor" href="/#projects">Projects</a></li>
      <li><a id="contactsAnchor" href="/#contacts">Contacts</a></li>
      <li><a href="/assets/images/fongM_resume.pdf" download="/assets/images/fongM_resume.pdf">Resume</a></li>
      <li><a href="https://people.rit.edu/mxf9125/230/portfolio/index.html">Old Portfolio</a></li>
    </ul>
  </nav>
  <div id="responsiveMenu">
    <ul>
      <li><a id="aboutAnchor" href="/#about" class="selected">About</a></li>
      <li><a id="projectsAnchor" href="/#projects">Projects</a></li>
      <li><a id="contactsAnchor" href="/#contacts">Contacts</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="https://people.rit.edu/mxf9125/230/portfolio/index.html">Old Portfolio</a></li>
    </ul>
  </div>
  
  <div id="resumeContent">
    <h1>Matthew Fong</h1>
    <div class="contactRight">
      <h4>Phone: (347)-551-0888</h4>
      <h4>Email: mxf9125 AT rit.edu</h4>
    </div>
    <h4>LinkedIn: https://www.linkedin.com/in/matthewfong3</h4>
    <h4>Website Portfolio: https://matthewfong.herokuapp.com/</h4>
    <hr>
    <h3 id="objective">Objective:</h3>
    <h4 id="objectiveDesc">To obtain a full-time position as a web/app developer/game designer/programmer. Available March 2019</h4>
    <hr>
    <div id="education">
      <h3>Education:</h3>
      <h4>Rochester Institute of Technology, Rochester, NY</h4>
      <h5 class="eduinfo">Bachelor of Science in Game Design and Development</h5>
      <h5 class="eduinfo">GPA: 3.99</h5>
      <h5 class="eduinfo">Honors & Awards: Dean's List Fall 2014 - Spring 2018</h5>
      <h4>Bard College</h4>
      <h5 class="eduinfo">Associate of Arts in Liberal Arts</h5>
    </div>
    <hr>
    <h3>Projects:</h3>
    <ul>
      <li>Unity Mario Kart</li>
      <li>Portfolio Websites</li>
      <li>3D Models</li>
      <li>Bombs Away Prototype Game</li>
      <li>Dynamic Dash Prototype Game</li>
      <li>Audio Visualizer</li>
      <li>King of the Ball</li>
      <li>Comics Spot App</li>
      <li>mazahS</li>
      <li>Tweeter</li>
      <li>Arcade-Jam</li>
      <li>Defend Sina</li>
      <li>Golf It?</li>
    </ul>
    <hr>
    <h3>Skills:</h3>
    <h4>Programming Languages: C#, JavaScript, HTML5, CSS3, SASS, C++, ReactJS, Canvas, Swift, Redis, MongoDB, NodeJS, JQuery, websockets, ES6, JSON, XML, AJAX</h4>
    <h4>Software: Visual Studios, Adobe Photoshop, Autodesk Maya, Processing, Unity, Brackets, Xcode, MySQL</h4>
    <hr>
    <div id="experience">
      <h3>Experience:</h3>
      <h4>Envy Media Company   | Bayport, NY</h4>
      <h5>Office Administration  |  October-December 2018</h5>
      <ul>
        <li>Responsibilities include pulling invoices, project management flow, billing, product assembly, etc.</li>
      </ul>
      <h4>iD Tech Camp  |  Columbia University, NY</h4>
      <h5>Instructor  |  May-August 2017</h5>
      <ul>
        <li>Taught 3D modeling in Autodesk Maya, JavaScript coding, Tynker, Game Design and C# scripting in Unity to iD Tech Camp students</li>
      </ul>
      <h4>Caffe Bene | Astoria, NY</h4>
      <h5>Cashier, Server  |   May-August 2016</h5>
      <ul>
        <li>Served customers while maintaining a friendly, outgoing attitude</li>
        <li>Cleaned the store after closing</li>
      </ul>
      
    </div>
    <hr>
    <h3>Activities/Interests:</h3>
    <ul>
      <li>Volunteered at the American Cancer Society (ACS)</li>
      <li>Sports: Basketball, Badminton, Ping Pong, Billiards</li>
      <li>Videogames: Streaming League of Legends, Counter-Strike: Global Offensive (CS:GO)</li>
    </ul>
  </div>
  
  <footer id="footer">
    <p>© Matthew Fong <br> All Rights Reserved</p>
  </footer>
  <script src="/assets/resumeBundle.js"></script>
</body>
</html>