<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Matthew Fong - Game Designer/Developer</title>

        <link href="assets/images/favicon.png" rel="shortcut icon"/>
        <link href="assets/css/resume.css" rel="stylesheet" type="text/css"/>

        <script crossorigin src="https://unpkg.com/react@16.7.0/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16.7.0/umd/react-dom.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/prop-types@15.6/prop-types.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/2.0.1/remarkable.min.js" integrity="sha512-skYYbQHAuOTpeJTthhUH3flZohep8blA+qjZOY0VqmfXMDiYcWxu29F5UbxU4LxaIpGkRBk+3Qf8qaXfd9jngg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <nav id="nav">
            <a href="/"><img id="logo" src="assets/images/face_gray.png" alt="face logo"/></a>
            
            <div id="shortcutLinks"><a href="https://www.linkedin.com/in/matthewfong3/"><img id="shortcutLinkedIn" src="assets/images/linkedin_gray.png" alt="LinkedIn link"/></a></div>

            <ul>
                <li><a id="aboutMeAnchor" href="/#aboutMe">About Me</a></li>
                <li><a id="projectsAnchor" href="/#projects">Projects</a></li>
                <li><a id="contactsAnchor" href="/#contacts">Contacts</a></li>
                <li><a href="assets/files/matthewfong_resume.pdf" download="assets/files/matthewfong_resume.pdf" class="selected">Resume</a></li>
            </ul>
        </nav>

        <div id="resumeContent">
            <p>*To download a PDF copy, please click on the Resume link in the navigation bar*</p>
            <h1>Matthew Fong</h1>
            
            <div class="contactRight">
                <h4>Email: matthewfong3 [AT] gmail [DOT] com</h4>
                <h4>Phone: (347) 551-0888</h4>
            </div>

            <h4>Website Portfolio: <a href="https://matthewfong.onrender.com">https://matthewfong.onrender.com</a></h4>
            <h4>LinkedIn: <a href="https://www.linkedin.com/in/matthewfong3">https://www.linkedin.com/in/matthewfong3</a></h4>
            <hr>

            <div id="workExperience">
                <h3>Work Experience:</h3>
                <h4>Almax Taxi Brokers LLC | New York, NY</h4>
                <h5>Full Stack Developer | March 2019-June 2022</h5>
                <span>  - Built and developed a company services website, using HTML5, Jquery, NodeJS, and ExpressJS, MongoDB, and Redis <br/>
                        - Programmed the logic between client-server interactions, sending requests and receiving responses, through MVC framework and REST-ful API <br/>
                        - Implemented a secure account login/signup system, requiring email verification through the nodemailer library
                </span>

                <h4>iD Tech Camp | Columbia University, NY</h4>
                <h5>Instructor | May-August 2017</h5>
                <span>  - Taught several classes, including JavaScript coding, 3D modeling in Autodesk Maya, Game Design and C# scripting in Unity to iD Tech Camp students, explaining concepts and course material in a clear and concise manner <br/>
                        - Assisted supervisors in leading various camp activities during lunch/activity time for the students
                </span>
            </div>
            <hr>

            <h3>Projects:</h3>
            <ul>
                <li>Tweeter - <i>Twitter Clone App</i></li>
                <span>  - Full Stack Developer, programmed core functionality using HTML5, Jquery, NodeJS, ExpressJS, while demonstrating understanding of REST-ful API and Model-View-Controller (MVC) framework <br/>
                        - Programmed and handled the logic between front end & back end (client-side & server-side) communication, with client-server requests and responses <br/>
                        - Developed a secure user account system using Redis, Express-sessions, and Mongo database <br/>
                        - Created a seamless interactive experience using ReactJS <br/>
                        - Designed and stylized the look and feel, layout of the pages using CSS3 & Flexbox
                </span>

                <li>Arcade-Jam</li>
                <span>  - Developed a simple 2-versus-2 (air-hockey-like) team-based fast-paced arcade-shooter Canvas game, using NodeJS and ExpressJS framework, while demonstrating understanding of Websockets (socket.io) to connect unique users (client browsers) to an interactive game session (server room) <br/>
                        - Programmed core mechanics/functionality of the game, including basic player movement, firing bullets, bullet shielding, collision-detection, and player scoring logic <br/>
                        - Handled the logic of communication between both client browsers and the server in regards to sending and receiving data in order to implement a near real-time game experience for all players <br/>
                        - Designed the style/look and feel of the game using CSS3
                </span>

                <li>Dynamic Dash Game - <i>Inspired by Steam’s “Speedrunners” game</i></li>
                <span>  - Assisted in development of a 1-versus-1 2D side-scrolling racing game in Unity <br/>
                        - Programmed some of the core game mechanics, such as Power-Up abilities <br/>
                        - Handled the interaction logic between different power-up abilities and also how they affect the individual players <br/>
                        - Designed layout and obstacles of each level/race course <br/>
                        - Designed GUI elements and UI menus of the game
                </span>

                <li>Portfolio Website</li>
                <span>  - Developed a simple, modern, clean portfolio website using HTML5, JQuery, NodeJS, ExpressJS, and ReactJS, to showcase my projects <br/>
                        - Stylized and designed the look and feel of my portfolio website using CSS3 & Flexbox
                </span>
            </ul>
            <hr>

            <h3>Skills:</h3>
            <h4>Programming Languages: C#, C++, JavaScript, Swift</h4>
            <h4>Tools: HTML5, CSS3, Flexbox, NodeJS, ExpressJS, REST, MVC framework, ReactJS, JQuery, AJAX, XML, JSON, ES6, Redis, Websockets (socket.io), Canvas, Bootstrap</h4>
            <h4>Software: Visual Studio, VS Code, Brackets, Adobe Photoshop, GIMP, Autodesk Maya, Blender, Unity, Unreal Engine 5, MongoDB, MySQL, Processing, Xcode</h4>
            <hr>

            <div id="education">
                <h3>Education:</h3>
                <h4>Rochester Institute of Technology | Rochester, NY</h4>
                <h5 class="eduinfo">Bachelor of Science in Game Design and Development, Immersion in Music | August 2014 - May 2018</h5>
                <h5 class="eduinfo">Overall GPA: 4.00/4.00</h5>
                <h5 class="eduinfo">Honors & Awards: Summa Cum Laude, Dean's List Fall 2014 - Spring 2018</h5>
                
                <h4>Bard High School Early College Queens, Bard College | New York, NY</h4>
                <h5 class="eduinfo">Associate of Arts in Liberal Arts | September 2010 - June 2014</h5>
                <h5 class="eduinfo">Overall GPA: 3.30/4.00</h5>
            </div>
            <hr>

            <h3>Activities/Interests:</h3>
            <span>  - Exploring and learning tools in Unreal Engine 5, building simple game prototypes <br/>
                    - Exploring and learning tools in Blender, to create photo-realistic models and environments for rendering
            </span>
        </div>

        <footer id="footer">
            <p>© Matthew Fong <br> All Rights Reserved</p>
        </footer>

        <script src="assets/resumeBundle.js"></script>
    </body>
</html>