<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Matthew Fong - Game Designer/Developer</title>

        <link href="assets/images/favicon.png" rel="shortcut icon"/>
        <link href="assets/css/resume.css" rel="stylesheet" type="text/css"/>

        <script crossorigin src="https://unpkg.com/react@16.7.0/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16.7.0/umd/react-dom.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/prop-types@15.6/prop-types.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/2.0.1/remarkable.min.js" integrity="sha512-skYYbQHAuOTpeJTthhUH3flZohep8blA+qjZOY0VqmfXMDiYcWxu29F5UbxU4LxaIpGkRBk+3Qf8qaXfd9jngg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <nav id="nav">
            <a href="/"><img id="logo" src="assets/images/face_gray.png" alt="face logo"/></a>
            
            <div id="shortcutLinks">
                <a href="https://www.linkedin.com/in/matthewfong3/"><img id="shortcutLinkedIn" src="assets/images/linkedin_gray.png" alt="LinkedIn link"/></a>
                <a href="https://github.com/matthewfong3"><img id="shortcutGithub" src="assets/images/github_gray.png" alt="Github link"/></a>
            </div>

            <ul>
                <li><a id="aboutMeAnchor" href="/#aboutMe">About Me</a></li>
                <li><a id="projectsAnchor" href="/#projects">Projects</a></li>
                <li><a id="contactsAnchor" href="/#contacts">Contacts</a></li>
                <li><a href="assets/files/matthewfong_resume.pdf" download="assets/files/matthewfong_resume.pdf" class="selected">Resume</a></li>
            </ul>
        </nav>

        <div id="resumeContent">
            <p>*To download a PDF copy, please click on the Resume link in the navigation bar*</p>
            <h1>Matthew Fong</h1>
            
            <div class="contactRight">
                <h4>Email: matthewfong3 [AT] gmail [DOT] com</h4>
                <h4>Phone: (347) 551-0888</h4>
            </div>

            <h4>LinkedIn: <a href="https://www.linkedin.com/in/matthewfong3">https://www.linkedin.com/in/matthewfong3</a></h4>
            <h4>Github: <a href="https://github.com/matthewfong3">https://github.com/matthewfong3</a></h4>
            <hr>

            <div id="workExperience">
                <h3>Work Experience:</h3>
                <h4>Almax Taxi Brokers LLC | New York, NY</h4>
                <h5>Full Stack Developer | April 2021-May 2022</h5>
                <span>  - Translated wireframes and design layouts into a prototype NodeJS, ExpressJS web services website <br/>
                        - Implemented a secure account login/signup system for new and returning users, with required email verification <br/>
                        - Implemented password change feature for all user accounts <br/>
                        - Utilized MongoDB and Redis in storing user account information, session data, and user's listings/posts <br/>
                        - Build and designed reactive web pages and dynamic forms using HTML5, CSS3, and ReactJS <br/>
                        - Programmed the logic between client-server interactions, from client-browser sending requests, to server processing requests and sending
                        back data packets back to the client, to client receiving responses, unpacking and properly handling/displaying that information, through
                        the concept of MVC (Model-View-Controller) framework and REST-ful API <br/>
                        - Revamped the layout and design of company website 
                </span>

                <h4>iD Tech Camp | Columbia University, NY</h4>
                <h5>Instructor | May-August 2017</h5>
                <span>  - Taught several classes, including JavaScript coding, 3D modeling in Autodesk Maya, Game Design and C# scripting in Unity to iD Tech Camp students <br/>
                        - Explained fundamental concepts of coding, web development, asset and game development in a clear and concise manner <br/>
                        - Worked closely with students during in-class exercises, answering any questions they might have, debugging their
                        programs, and clarifying and reviewing previous course material
                </span>
            </div>
            <hr>

            <h3>Projects:</h3>
            <ul>
                <li>Tweeter - <i>Twitter Clone App</i></li>
                <span>  - Full Stack Developer, programmed core functionality using HTML5, Jquery, NodeJS, ExpressJS, while demonstrating understanding of REST-ful API and MVC (Model-View-Controller) framework <br/>
                        - Programmed and handled the logic between front end & back end (client-side & server-side) communication, with client sending requests to the server and the server sending responses back to client <br/>
                        - Developed a secure user login/signup account system using Redis, Express-sessions, and MongoDB <br/>
                        - Created a seamless interactive and dynamic experience using ReactJS <br/>
                        - Designed and stylized the look and feel and layout of the pages using CSS3 & Flexbox
                </span>

                <li>Arcade-Jam</li>
                <span>  - Developed a simple 2-versus-2 (air-hockey-like) team-based fast-paced arcade-shooter Canvas game, using NodeJS and ExpressJS framework, while demonstrating understanding of Websockets (socket.io) to connect unique client browsers to an interactive game session (server room) <br/>
                        - Programmed core mechanics/functionality of the game using Object-Oriented Programming in JavaScript, including basic player movement, firing bullets, bullet shielding, collision-detection, simple physics system and player scoring <br/>
                        - Handled the communication logic between client browsers and the server with regards to sending and receiving data across all clients and server, in order to simulate a near real-time game experience for players <br/>
                        - Designed the style/look and feel of the game using CSS3
                </span>

                <li>Dynamic Dash Game - <i>Inspired by Steam’s “Speedrunners” game</i></li>
                <span>  - Programmed some of the core game mechanics using Object-Oriented Programming, such as Power-Up abilities, in C# <br/>
                        - Wrote C# scripts to handle the interactions between different power-up abilities and how they affect the players <br/>
                        - Designed layout and obstacles of each level/race course in the Unity editor <br/>
                        - Designed GUI elements and UI menus of the game in Unity 
                </span>

                <li>Portfolio Website</li>
                <span>  - Developed a simple and modern portfolio website using HTML5, Jquery, NodeJS, ExpressJS, and ReactJS, to showcase my projects <br/>
                        - Stylized and designed the look and feel of my portfolio using CSS3 & Flexbox
                </span>
            </ul>
            <hr>

            <h3>Skills:</h3>
            <h4>Programming Languages: C++, JavaScript, C#, Swift</h4>
            <h4>Tools: HTML5, CSS3, ES6, NodeJS, ExpressJS, REST, MVC framework, ReactJS, JQuery, AJAX, JSON, Object-Oriented Programming, Websockets (socket.io), MongoDB, Redis, Canvas, Flexbox, XML</h4>
            <h4>Software: Visual Studio, VS Code, Brackets, Autodesk Maya, Unity, Adobe Photoshop, GIMP, Processing, MySQL, Xcode</h4>
            <hr>

            <div id="education">
                <h3>Education:</h3>
                <h4>Rochester Institute of Technology | Rochester, NY</h4>
                <h5 class="eduinfo">Bachelor of Science in Game Design and Development, Immersion in Music | August 2014 - May 2018</h5>
                <h5 class="eduinfo">Overall GPA: 4.00/4.00</h5>
                <h5 class="eduinfo">Honors & Awards: Summa Cum Laude, Dean's List Fall 2014 - Spring 2018</h5>
                
                <h4>Bard High School Early College Queens, Bard College | New York, NY</h4>
                <h5 class="eduinfo">Associate of Arts in Liberal Arts | September 2010 - June 2014</h5>
                <h5 class="eduinfo">Overall GPA: 3.30/4.00</h5>
            </div>
            <hr>

            <h3>Activities/Interests:</h3>
            <span>  - Exploring and learning tools in Unreal Engine 5, building simple game prototypes <br/>
                    - Exploring and learning tools in Blender, to create photo-realistic models and environments for rendering
            </span>
        </div>

        <footer id="footer">
            <p>© Matthew Fong <br> All Rights Reserved</p>
        </footer>

        <script src="assets/resumeBundle.js"></script>
    </body>
</html>